* {
    font-family: 'Orbitron', sans-serif;
    color: yellowgreen;
    font-size: 115%;
}

body {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#logo {
    max-width:100%;
    max-height:100%;
}

header, .game-area, .stats-container {
    border-radius: 7px; 
    background-color: rgba(0, 0, 0, 0.38);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80vw;
    font-family: 'Orbitron', sans-serif;
    padding: 25px;
}

header {
    height: 15vh;
}

.game-area {
    height: 40vh;
}

.stats-container {
    height: 13vh;
}

button {
    background-color: yellowgreen; 
    border: 2px solid black;
    border-radius: 10px;
    color: black;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #d4fb09;
    color: black;
}