* {
    font-family: 'Orbitron', sans-serif;
    color: yellowgreen;
    opacity: 1;
}

body {
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

header, .game-area, .stats-container {
    border-radius: 7px; 
    background-color: black;
    opacity: 0.5;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 80vw;
    font-family: 'Orbitron', sans-serif;
    padding: 25px;
}

header {
    height: 15vh;
}

.game-area {
    height: 40vh;
}

.stats-container {
    height: 13vh;
}